*
{
margin: 0;
padding: 0;

}
body
{


}
.header
{
background-color: white;
padding: 2px 40px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
position: sticky;
top: 0;
right: 0;
left: 0;
z-index: 999;
box-shadow: rgba(31, 30, 30, 0.15) 5px 5px 20px;
}
.header-left
{
height: 85px;
width: 8%;
/* background-color: blueviolet; */
font-size: 25px;
padding-left: 10px;
color: white;
font-family: Arial, Helvetica, sans-serif;
margin: 5px 0px 5px 0px ;
}
.header-left img{
height: 100%;
width: 100%;
}

.header-center
{
/* background-color: pink; */
width: 20%;
height: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
color: black;

}
.header-center p:hover
{
    color: rgb(31, 30, 83);
    transform:scaleX(2.05);
    transform: scaleY(2.05);
transform:scale(1.35) ;
transition: ease-in-out 0.1s;
cursor: pointer;
}

.header-right
{
    /* background-color: aqua; */
width: 10%;
justify-content: space-around;
padding:5px;
/* padding-left: 25px; */
display: flex;
flex-direction: row;

}
.heart 
{
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
}
.heart:hover
{
background-color: rgb(233, 17, 53);

}
.heart:active{
    background:rgb(21, 72, 167);
    color: white;
  }
  
  .heart:focus{
    background:rgb(233, 17, 53);
    color: white;
  }
#icon
{

    font-size: 20px;
}
.header-right-left
{
height: 90%;
width: 45%;
background-color: yellow;
border-radius: 50%;
}
.header-right-right
{
    height:80%;
    width: 30%;
    /* background-color: red; */
    border-radius: 50%;

}
.header-right-right img
{
height: 100%;
width: 100%;
border-radius: 50%;;
cursor: pointer;
}
.main
{
background-color: (201, 22, 52);
height: 200vh;
display: flex;
flex-direction: row;
color: black;
}
.main-left
{
background-color: white;
width: 15%;
height: 100%;
padding: 35px;
box-shadow: rgba(31, 30, 30, 0.15) 5px 5px 20px;
    
}
.main-left-bottom1
{
    
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    justify-content: space-between;
}
.main-left-bottom1 select
{
 
height:35px;
width: 100%;
border-radius:10px;
padding-left: 35px;
background:rgb(31, 30, 83);
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
color: white;
box-shadow: black 5px 5px 5px;
}

.main-left-bottom2
{
    
    height: 20%;
    width: 90%;
    margin-top: 10px;
    background-color: rgb(63, 36, 36);
}
.main-left-bottom2 img
{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.main-left-bottom3
{
    
    height: 30%;
    width: 90%;
    margin-top: 10px;
    /* background-color: brown; */
}
.main-right
{
background-color: blue;
width: 85%;
height: 100%;

}
.main-right-top
{
    background:rgb(31, 30, 83);
    height: 5%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px 0px 20px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
.main-right-top h3{
    font-weight: 100;
}
.main-right-top-right
{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    padding: 10px 10px 0px 10px;
   width: 30%;
   justify-content: space-between;
   align-items: center;

}
.mon-panier
{
    width: 65%;
    height: 45px;
    font-size: 18px;
    background-color: rgb(149, 149, 255);
    color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.mon-panier:hover
{
    color: white;
    background-color: rgb(31, 30, 83);
    border-color:white ;
    transform:scaleX(1.05);
    transform: scaleY(1.05);
transform:scale(1.05) ;
transition: ease-in-out 0.1s;
cursor: pointer;
}

.main-right-bottom
{
    background:rgb(31, 30, 83);
    height: 100%;
   padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
#button1
{
height: 30px;
width: 80px;
text-align: center;
border: 10%;
}
.box
{
    margin-left: 0.5px;
    background-color: white;
    border-radius:10px;
    height: 30%;
    width: 32%;
    cursor: pointer;
   
}
.boxtop
{
   
    /* background-color: red; */
height: 41%;
width: 100%;
}
.boxbottom
{
    height: 7%;
width: 100%;
}
.boxtop img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.boxbottomtop
{
    margin-right:5px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.boxbottomtop h5{
  
    margin-bottom: 2px;
    color: black;

}
.boxbottomtop p
{
    color: black;
    margin-top: 7px;
    margin-left: 5px;
}
.boxbottom
{
    padding: 3px;
}

.boxbottombottom
{
    margin-top: 3px;
    height: 100px;
    width: 100%;
/* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.list2
{
  margin-left: -210px;
width: 30%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#star
{
  
border: none;
  background-color: white;
font-size: 15px;
}
#star:active
{
  color: rgb(224, 159, 16);
  }
  
#star:focus{
    
    color: rgb(224, 159, 16);
  }
.prix
{margin-top: 7px;
    height: 50%;
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
.prix h3{
    color: rgb(224, 18, 18);
}
.prix1
{
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
}
.prix12
{
    height: 100%;
    width: 2px;
    background-color: black;

    margin-right: 20px;
}
.prix2
{
    height: 100%;
    width: 50%;
    /* background-color: rgb(139, 139, 117); */
}
.offre
{
    height: 15px;
    width: 100%;
 padding-left: 40px;
}
.buy
{
margin-top: -10px;
width: 70%;
height: 30px;
margin-left: 50px;
border-radius: 10px;
background-color: rgb(31, 30, 83);
color: white;
border: none;
cursor: pointer;
font-size: 16px ;
}
.buy:hover
{
background-color: black;
color: white;
transform:scaleX(1.05);
    transform: scaleY(1.05);
transform:scale(1.05) ;
transition: ease-in-out 0.2s;
cursor: pointer;
}
.box:hover{


    transform:scaleX(1.05);
    transform: scaleY(1.05);
transform:scale(1.05) ;
transition: ease-in-out 0.1s;
cursor: pointer;
}
#icon-panier
{
    margin-right: 10px;
}





















